# PROJETO INDIVIDUAL 02
#   CONTRATADO
# NOME: SHEILA SALLES

#Uma empresa de recrutamento recebeu muitos currículos
#para determinadas vagas e agora precisa classificar
#quantos candidatos tem o perfil necessário e quantos
#candidatos estão concorrendo a cada vaga específica.

arquivo = open('mini_bios.txt', 'r')
linhas = arquivo.readlines()

def  selecaoCurriculos ():
    
selecaoCurriculos  = []

pergunta  =  input ( "Qual a vaga procurada?: " )
pergunta  =  pergunta . inferior ()

candidato  = ()
todosCurriculos  = {}
texto  = []
quantCurriculos = []
Curriculos  = []
palavrasChaves  = ( "python" , "programação" , "desenvolvimento" , "análise de dados" , "dados" , "sql" )
       
